:root {
    --primaryColor: #011C40;
    --secondaryColor: #023859;
    --bgColor: #26658C;
    --fifthColor: #54ACBF;
    --color-light: #A7EBF2;
    --textColor: #FFFFFF;
    --hgColor: #FDF5AA;
    --mainFamilyFont: "Outfit", sans-serif;
}

.page-header {
    color: var(--textColor);
    padding-top: 1.5rem;
    border-radius: 0 0 10px 10px;
}

.product-form-container {
    background-color: var(--primaryColor);
    padding: 1.875rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

.form-control {
    background-color: white;
    color: var(--primaryColor);
    padding: 0.625rem;
}

.form-select .productCategory {
    color: var(--textColor) !important;

}

.form-control::placeholder {
    color: var(--bgColor);
    opacity: 0.7;
}

.form-label {
    color: white;
    font-weight: 31.25rem;
    margin-bottom: 0.313rem;
}

.btn-submit {
    background-color: var(--hgColor);
    color: var(--primaryColor);
    border: none;
    font-weight: 43.75rem;
    padding: 0.625rem 1.25rem;
    border-radius: 0.313rem;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-submit:hover {
    background-color: var(--fifthColor);
    color: var(--textColor);
    transform: translateY(-0.125rem);
}


@media (max-width: 48rem) {
    .product-form-container {
        padding: 1.25rem;
        margin: 0 0.625rem;
    }

    .page-header h1 {
        font-size: 1.8rem;
    }
}

/* --- ESTILOS DE ALERTAS PERSONALIZADAS --- */

.form-control.input-invalid-glow {
    border-color: #ff4d4d !important;
    box-shadow: 0 0 0.8rem rgba(255, 77, 77, 0.9);
    transition: box-shadow 0.3s ease-in-out;
}

.form-control.input-valid-glow {
    border-color:#66ff66 !important;
    box-shadow: 0 0 0.8rem rgba(102, 255, 102, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}


#alert-messages .alert {
    background-color: var(--primaryColor);
    color: var(--color-light);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0;
    border: none;
    font-size: 1.1rem;
    text-align: center;
}

.alert-error-glow {
    border: 0.063rem solid #ff4d4d !important;
    box-shadow: 0 0 0.8rem rgba(255, 77, 77, 8), 0 0 0.8rem rgba(255, 77, 77, 5) inset;
}

.alert-success-glow {
    border: 0.063rem solid #66ff66 !important;
    box-shadow: 0 0 0.8rem rgba(102, 255, 102, 8), 0 0 0.5rem rgba(102, 255, 102, 0.5) inset;
}

.custom-alert-title {
    color: var(--hgColor);
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: 700;
}

.custom-alert-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    display: inline-block;
}

.custom-alert-list li {
    margin-bottom: 0.25rem;
    font-size: 0.95rem;
    position: relative;
    padding-left: 1.5rem;
    text-align: left;
}

.custom-alert-list li::before {
    content: '•';
    color: var(--hgColor);
    font-weight: bold;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

#alert-messages .alert p strong {
    color: var(--hgColor);
}