html {
  --primaryColor: #011C40;
  --secondaryColor: #023859;
  --bgColor: #26658C;
  --fifthColor: #54ACBF;
  --color-light: #A7EBF2;
  --textColor: #FFFFFF;
  --hgColor: #FDF5AA;
  --mainFamilyFont: "Outfit", sans-serif;
}

.form-signin {
  background-color: #011C40;
  border-radius: 0.5rem;
  max-width: 45rem;
  padding: 2rem;
  margin-bottom: 5rem;
  box-sizing: border-box;
  color: white;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

.frminp {
  border-radius: 0.4rem;
  width: 100%;
  height: 2.3rem;
  padding: 0.625rem 0.938rem;
  display: block;
  outline: none;
  transition: box-shadow 0.3s ease-in-out;
}

.frminp::placeholder {
  color: var(--bgColor);
}

input[type="date"].frminp {
  color: var(--bgColor);
}

input[type="date"].frminp::-webkit-calendar-picker-indicator {
  filter: invert(50%);
  opacity: 0.8;

}

.frmlbl {
  margin-bottom: 0.3rem;
  display: block;
}

.column-signin {
  display: flex;
  flex-direction: column;
}

#nota {
  font-family: var(--mainFamilyFont);
  font-size: small;
}

.Btn,
.Btn2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 15.5rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FDF5AA;
  border: none;
  border-radius: 0.5rem;
  color: #011C40;
  font-weight: 38rem;
  gap: 0.5rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.Btn:hover,
.Btn2:hover {
  background-color: #FFE66D;
  color: #011C40;
}

.Btn::before,
.Btn2::before {
  content: none;
}

.svgIcon {
  width: 1.3rem;
}

.svgIcon path {
  fill: #011C40;
}

.Btn::before {
  width: 15.5rem;
  height: 2.3rem;
  position: absolute;
  content: "";
  background-color: var(--secondaryColor);
  border-radius: 0.5rem;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transition-duration: .3s;
  transform: translate(100%, 0);
  border-radius: 0.1rem;
}

.Btn2::before {
  width: 15.5rem;
  height: 2.3rem;
  position: absolute;
  content: "";
  background-color: var(--secondaryColor);
  border-radius: 0.5rem;
  right: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
}

.Btn2:hover::before {
  transition-duration: .3s;
  transform: translate(-100%, 0);
  border-radius: 0.1rem;
}

@media (max-width: 768px) {

  .form-signin {
    height: auto;
    padding: 1.5rem;
    margin: 2rem;
  }

  .form-signin .frminp {
    width: 100%;
    display: block;
  }

  .Btn,
  .Btn2 {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.frminp.input-invalid-glow {
  border: 0.12rem solid #ff4d4d !important;
  box-shadow: 0 0 0.5rem rgba(255, 77, 77, 5);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.frminp.input-valid-glow {
  border: 0.12rem solid #66ff66 !important;
  box-shadow: 0 0 0.3125rem rgba(102, 255, 102, 0.7);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#alert-messages .alert {
  background-color: rgba(1, 28, 64, 0.8);
  color: var(--color-light);
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border: none;
  font-size: 1.1rem;
  text-align: center;
}

.alert-error-glow {
  border: 0.063rem solid #ff4d4d !important;
  box-shadow: 0 0 0.8rem rgba(255, 77, 77, 5), 0 0 0.5rem rgba(255, 77, 77, 8) inset;
}

.alert-success-glow {
  border: 0.063rem solid #66ff66 !important;
  box-shadow: 0 0 0.625rem rgba(102, 255, 102, 0.6), 0 0 0.3125rem rgba(102, 255, 102, 0.5) inset;
}

.custom-alert-title {
  color: var(--hgColor);
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 43.75rem;
}

.custom-alert-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: inline-block;
}

.custom-alert-list li {
  margin-bottom: 0.25rem;
  font-size: 0.95rem;
  position: relative;
  padding-left: 1.5rem;
  text-align: left;
}

.custom-alert-list li::before {
  content: '•';
  color: var(--hgColor);
  font-weight: bold;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

#alert-messages .alert p strong {
  color: var(--hgColor);
}